.span4.offset2    
  %h2.title.region-title  
    = image_tag 'img-mercadeo.png', class: 'not-full'
    %br
    RED DE MERCADEO
  %p
    Trabajamos basados en la filosofía “DRY” siglas en inglés de “Don’t Repeat Yourself”, que básicamente se trata de no repetir el mismo código mientras sea posible, de esta manera se adelgaza la cantidad de líneas de código y lo más importante, tenemos un código fácil de mantener y actualizar, facilitando y agilizando los futuros cambios que necesiten nuestros clientes.
  
  %p
    Trabajamos con herramientas espectaculares como Ruby on Rails y muchos gems geniales para crear las páginas y aplicaciones webs, la parte visual la diseñamos en Photoshop e Illustrator y usamos un flujo de trabajo muy eficiente con github y capistrano, nos encanta Nginx como servidor web y Unicorn como medio entre Rails y Nginx. Nuestra base de datos favorita es MySQL y también trabajamos con otras más exóticas como Redis.
  
  %p
    Armamos todo con Twitter Bootstrap, y usamos Haml para generar el HTML, junto con Sass y a veces Less para generar el CSS.
  
  %p
    Usamos Jquery para implementar esos sliders, slideshow, entre otros widgets que encantan a nuestros clientes.
  
  %p
    Todo esto lo escribimos en Vim, porque es simplemente el mejor editor de texto que existe en el mundo.


  %h2.title.region-title  
    = image_tag 'img-staff.png', class: 'not-full'
    %br
    STAFF
  %p
    Nuestro equipo se ha instruido con cursos en el prestigioso instituto “Caelum” en Brasil, compramos una buena cantidad de libros técnicos de Amazon sobre los temas que desarrollamos, somos principalmente autodidáctas y nuestro aprendizaje es continuo.
