.redes-sociales.share
  = link_to image_tag('facebook_0.png'), 'https://www.facebook.com/kosmykaweb', class: 'facebook', target: '_blank'
  = link_to image_tag('twitter_0.png'), 'https://twitter.com/kosmyka', class: 'twitter' , target: '_blank'
  = link_to image_tag('rss_0.png'), '/', class: 'rss', target: '_blank'
