.span6
  %h2.title.region-title
    = image_tag 'img-mercadeo.png', class: 'not-full'
    %br
    RED DE MERCADEO

  %p
    Tenemos para ti un negocio que sabemos te va a interesar, desde el momento que compras el desarrollo completo de una página web con nosotros, puedes empezar a ganar dinero. Es muy simple, al recomendar nuestro servicio con un colega, familiar o amigo, apenas cerremos contrato con esa persona, te pagaremos automáticamente. Podrás tener 2 recomendados debajo tuyo, y cada uno de estos podrá tener 2 recomendados debajo de cada uno de ellos y así sucesivamente. Además de ganar el bono inmediato por la recomendación, ganarás dinero también por cada recomendación que hagan las personas que están debajo tuyo. Así nosotros venderemos un montón y tú ganarás dinero fácilmente.
  %p
    Si estás interesado, ponte en contacto con nosotros y te brindremos toda la información al respecto.


  %h2.title.region-title
    = image_tag 'img-staff.png', class: 'not-full'
    %br
    STAFF
  %p
    Nuestro equipo se ha instruido con cursos en el prestigioso instituto “Caelum” en Brasil, compramos una buena cantidad de libros técnicos de Amazon sobre los temas que desarrollamos, somos principalmente autodidáctas y nuestro aprendizaje es continuo.
