.menu-principal {font-family: Dosis; font-weight: 400; font-size: 18px; text-transform: uppercase}
.menu-default-bootstrap {
  color: #777777;
  float: none;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 #FFFFFF;
  display: block;
}
.menu-triangle {
    border-color: transparent transparent $cyan transparent;
    border-width: 10px;
    border-style: solid;
    position: absolute; left:45%; bottom: -14px; display: none; content: "";
}


.big-text {font-size: 40px; line-height: 100%}
.middle-text {font-size: 25px; line-height: 100%}
.bold {font-weight: 700}
.centered {text-align: center}
.border {border: 5px solid $gray}
.outline {outline: 5px solid $gray}

.button-default {display: inline-block; *display: inline; *zoom: 1; vertical-align: top; line-height: 100%;
   @extend .paragraph-default; text-align: center; border: 0; padding: 6px 10px; text-shadow: none; color: white}

.form-element {
  background: $form-triangle; background-color: $cyan; border-radius: 0; border: 0; font-size: 18px;
  font-family: Dosis; margin-bottom: 0;
  &:focus {background-color: $yellow}
}
.textarea-tag {
  height: 110px; min-height: 110px; resize: vertical;
}

.paragraph-default {
  color: $gray; font-family: Dosis; text-align: justify; font-size: 18px; font-weight: 300; line-height: 125%;
}

.title-main {
  font-size: 30px; color: white; background: $gray; text-align: center; padding: 40px 0; font-weight: 300;
  text-transform: uppercase; margin: 0; position: relative; height: 40px;
}
.title-default {
  text-transform: uppercase;
  font-size: 24px;
  margin: 0;
  padding-bottom: 40px;
}

.title-triangle {
    border-color: transparent transparent $gray transparent; width: 0; margin: 0 auto;
    border-width: 25px;
    border-style: solid;
    position: relative; top: -128px; display: block; content: "";
}



.no-border-radius {
-moz-border-radius: 0; 
-webkit-border-radius: 0; 
-o-border-radius: 0; 
border-radius: 0; 
}


.transition {
  -moz-transition: all ease-out 0.3s; 
-webkit-transition: all ease-out 0.3s; 
-o-transition: all ease-out 0.3s; 
transition: all ease-out 0.3s; 
}

.scale {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}



// en evaluación
@mixin text-shadow {
  text-shadow: 1px 1px 0px #d6dddf;
}

@mixin display-false {
  visibility: hidden; opacity: 0;
}
@mixin display-true {
  visibility: visible; opacity: 1;
}

@mixin inline-block-left($separation) {
  text-align: right;
  li {margin-right: $separation}
  li, a {@include inline-block}
}

@mixin inline-block-right($separation) {
  text-align: right;
  li {margin-left: $separation}
  li, a {@include inline-block}
}

// core
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6 IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}


@mixin full-width {
  width: 100%; float: left; clear: left;
}

@mixin size($width, $height) {
  width: $width; height: $height;
}

@mixin absolute($side-horizontal, $side-vertical, $coord-x, $coord-y) {
  position: absolute;
  #{$side-vertical}: $coord-y;
  #{$side-horizontal}: $coord-x;
}
@mixin relative($side-vertical, $side-horizontal, $coord-y, $coord-x) {
  position: relative;
  #{$side-vertical}: $coord-y;
  #{$side-horizontal}: $coord-x;
}

@mixin inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1; vertical-align: top;
  float: none;
}

@mixin min-height($value) {
  min-height: $value;
  *height: auto !important;
  height: $value;
}

@mixin box-sizing($value) {
  -moz-box-sizing: $value; -webkit-box-sizing: $value; -o-box-sizing: $value; box-sizing: $value;
  behavior: url(/assets/ie-support/Schepp-box-sizing-polyfill/boxsizing.htc)
}

@mixin clearfix2 {
  content: "."; display: block; line-height: 0; clear: both; visibility: hidden; height: 0;
  &:after {
    *zoom: 1;
  }
}

@mixin css3pie {
  behavior: url(/assets/ie-support/PIE-1.0.0/PIE.htc);
}

// core css3 animations
$easeInBack: cubic-bezier(0.600, -0.280, 0.735, 0.045);
$easeInCirc: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);



