@import 'mixins.css.scss';

body {color: $gray; font-family: Dosis}

p, blockquote {@extend .paragraph-default}

a {color: $gray; font-family: Dosis}

blockquote {text-align: center;
  padding-left: 0; margin-left: 0; font-style: italic;
  .autor {text-align: right}
  &:after,
  &:before {display: none;}
}

h1.page-title {@extend .title-main;
  &:after {
    @extend .title-triangle;
  }
}
h2.title {@extend .title-default;
  .not-front & {padding: 0px 0 20px}
}
h2.title.region-title {text-align: center; margin-top: 20px}

.barra {vertical-align: top; width: 100%; @include absolute(top, left, 0, 0)}
.navbar {margin-bottom: 0}
.navbar .nav > li > a,
.navbar .nav > li > span {
  @extend .menu-principal; @extend .menu-default-bootstrap; position: relative;
  &:hover {
    color: $cyan;
  }
  &:after {
    @extend .menu-triangle;
  }
  &:hover:after {display: block}
}
.navbar .nav > li > span {color: $cyan;
  &:after {
    @extend .menu-triangle; display: block;
  }
}

.navbar-inner {background: #fff; padding-top: 15px; padding-bottom: 10px; border: 0; border-radius: 0}
.navbar-fluid-top .nav {position: relative; top: 5px}

#content-top {padding-left: 0; padding-right: 0}

#parallaxContainer {
  position: fixed;
  width: 100%;
  z-index: -1;
  top: 0;
  min-height: 200px;
}

#parallaxContainer img {
    width: 100%;
    height: auto;
}

.alert-container {
  margin-top: 40px;
}

.front #content-middle {padding-top: 30px}
#content-middle { background: #fff; margin-top: 400px;}

#content-middle.masonry-div {/*padding-right: 0*/}

.presentacion {@extend .big-text; @extend .centered; padding: 0 0 20px}
.conoce {@extend .middle-text; @extend .centered; @extend .bold; margin-bottom: 40px;
  &:before, &:after {content: url(flecha-abajo.png); position: relative}
  &:before {left: -20px}
  &:after {right: -20px}
}

.region {padding-top: 40px; padding-bottom: 60px; background: $bevel}
.region.simple {background: none}

.front #content-bottom .region {padding-bottom: 60px}

#masonry-wrapper {
  margin:0 auto;
  float: none;
}

#masonry-container {
  margin:0 auto;
  float: none;
  .item {
    margin-bottom: 20px;
    .item-inner {overflow: hidden;
      img {vertical-align: top}
      position: relative;
      p {@include absolute(bottom, left, -100%, 0px); margin: 0;
        -moz-transition: 0.3s ease-out all;
        background: $caption; @include size(100%, 80px);
        a {
          display: block; @include size(100%, 100%);
          position: relative;
          span {
            @include absolute(bottom, left, 3px, 0); color: white;
            padding-left: 30px;
            background: $caption-icon;
            font-size: 18px; text-transform: uppercase;
          }
        }
      }
      &:hover {
        p {bottom: 0px;}
      }
    }
  }
}


.que-podemos-hacer {
  padding-left: 0; padding-right: 0;
  .text-title {
    background: $yellow;
    @extend .big-text; color: white; @extend .centered; padding: 40px 0; margin: 0;
    position: relative;
    &:after {content:"";
      border-color: $yellow transparent transparent transparent;
      border-style: solid;
      border-width: 20px;
      display: block; @include size(0, 0);
      @include absolute(left, top, 47%, 100%);
    }
  }
}


.carousel-control {
  font-family: Dosis;
  color: $gray; opacity: 1; border: 0; font-size: 40px; margin: 0;
  border-radius: 0; top: 100%;
  background: $yellow;
  &:hover {
    background: $cyan;
  }
  &.left {
    left: auto; right: 55px;
  }
}

.carousel-indicators {
  li { background-color: $yellow; opacity: 0.5;
  &.active { background-color: $yellow; opacity: 1; }
  }
}

.carousel {
  margin-bottom: 0;
}

#myCarousel {
  margin:0 auto;
  float: none;
}

.form-region {
  h2.title {text-align: center}

  .field {
    margin-bottom: 10px;
    label {margin: 0; position: relative; top: 5px; padding-right: 15px;
     font-family: Dosis; font-size: 18px; text-align: right}
    input[type="text"], textarea { @extend .form-element; padding-top: 5px; padding-bottom: 5px}
    textarea {@extend .textarea-tag}
  }
  .actions {
    input[type="submit"] {font-family: Dosis; border: 0; background: $yellow; padding: 10px 20px; text-transform: uppercase; float: right; margin-right: 10px}
  }
}

.likebox-wrapper {
  text-align: center;
  .likebox {@extend .border; border-width: 10px; @include inline-block; margin: 0 auto; width: 80%; position: relative;
    &:after {content: $triangle; @include absolute(left, bottom, -10px, -15px); display: block}
    iframe {
      width: 100% !important; vertical-align: top;
    }
  }
}

.redes-sociales {
  &.share {
    a {@include size(45px, 45px); @include inline-block; text-align: center; @extend .transition;
      &:hover {@extend .scale;}
      &.facebook {background: $purple}
      &.twitter {background: $gold}
      &.rss {background: $cyan}
      &.facebook:hover {background: darken($purple, 10%)}
      &.twitter:hover {background: darken($gold, 10%)}
      &.rss:hover {background: darken($cyan, 10%)}
      img {width: auto; margin-top: 11px;}
    }
  }
  &.contador {
    margin-top: 13px;
  }
}

#footer {
  margin:0 auto;
  float: none;
}

footer {
  .redes-sociales-share {}
  .redes-sociales-contador {}
  .mail-us {text-align: right; a {font-size: 20px}}

}

.not-full {
  width: auto
}

.front .main-section-page {
  padding-bottom: 40px
}

.contact-info {
  .span5 {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 600; white-space: nowrap;
    img {top: -5px; position: relative}
  }

}

/*
.img-toggle {
    .img-on {display: none}
    .img-off {@include inline-block}
  &:hover {
    .img-on {@include inline-block}
    .img-off {display: none}
  }
}*/

.servicio-item {
  p, blockquote, h2.title {
    color: $aqua;
  }
  .img-on {display: none}
  .img-off {@include inline-block}
  &:hover {
    p, blockquote, h2.title {
      color: $gray;
    }
    .img-on {@include inline-block}
    .img-off {display: none}
  }
}

// color page
h1.page-title {
  #services & {background: $purple;
    &:after {border-color: transparent transparent $purple transparent}

  }


}

#portafolio-wrapper {
  margin:0 auto;
  float: none;
}

#portafolio-botones {
  margin-bottom: 20px;
  ul {
    text-align: center;
    li {@include inline-block;
      a {font-size: 24px; font-weight: 700; text-transform: uppercase; margin-right: 60px;
        &:before {content: ""; @include inline-block; background: $cyan; width: 20px; height: 20px; margin-right: 20px}
        &.iso-web:before {background: $cyan}
        &.iso-imp:before {background: $gray}
        &.iso-tod:before {background: $yellow}
      }
    }
  }
}
.isotope .isotope-item { margin-bottom: 40px; width: 280px; list-style: none;
  h3 {margin: 0}
  p {margin: 0; font-size: 11px}

}


#projects {
  &.show {
    .dato {
      overflow: hidden;
      b, p {overflow: hidden; @extend .paragraph-default}
      b {font-weight: 700; margin-right: 10px; float: left}

    }
    .proyect-links {margin-top: 50px; overflow: hidden; text-align: right;
      .link-label {margin-top: 3px; @include inline-block; @extend .paragraph-default; margin-right: 5px}
    }
  }
}

hr {border-color: $gray}


.btn {
  &.external {
    @extend .button-default;
    background: $gray; color: white;
  }
}

#proyect-actions {position: relative}
#flecha-izquierda,
#flecha-derecha {position: absolute; top: -124px; left: 0}
#flecha-derecha {left: auto; right: 0}
#projects-carrusel {position: relative;
  .carousel-indicators {
    top: 105%; right: -10px;
    li {cursor: pointer; text-indent: 0; background: black;
      @extend .no-border-radius; @include size(30px, 30px); text-align: center; color: white; font-size: 18px; line-height: 170%}
  }
  .carousel-inner {
    @extend .border;
    .item {
      img {}
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {


}


@media (max-width: 767px) {
  body {padding-left: 0; padding-right: 0}
  #content-middle {margin-top: 200px}

}

@media print {


}

@media (min-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 979px) {


}

@media (max-width: 480px) {

}

@media (max-width: 979px) {


}


