$caption:            url(caption-gradient.png) repeat-x 0 100%;
$caption-icon:       url(caption-icon.png) no-repeat 5px 1px;
$form-triangle:      url(form-triangle.png) no-repeat 0 100%;

$yellow:             #ffcb0c;
$gray:               #3f4040;
$cyan:               #25aae1;
